@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

html {
    border: 2px;
    border-style: solid;
    border-color: #e8ccda;
}

body {
    margin: 0px;
    font-family: 'Tinos', serif;
}

img {
    height: 42vw;
    width: 30vw;
}

#credit {
    display: flex;
    position: absolute;
    top: 0;
}

.content {
    background-color: rgba(230, 227, 221, 0.464);
    padding: 20px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #e8ccda;
}

h1 {
    text-align: center;
    margin: 30px;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(236, 190, 211), 0 0 5px rgb(139, 0, 107);
}

.container {
    display: flex;
    flex-direction: row;
}

button {
    background-color: #e8ccda;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 120, 0.2) 0 -25px 18px -14px inset, rgba(187, 44, 146, 0.15) 0 1px 2px, rgba(187, 44, 165, 0.15) 0 2px 4px, rgba(187, 44, 170, 0.15) 0 4px 8px, rgba(187, 44, 161, 0.15) 0 8px 16px, rgba(187, 44, 161, 0.15) 0 16px 32px;
    color: rgb(128, 0, 73);
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(236, 190, 211), 0 0 5px rgb(139, 0, 107);
    transform: scale(1.05) rotate(-1deg);
    margin: 30px;
}

form {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
    font-size: larger;
    background-color: white;
    box-shadow: 10px 5px 5px rgb(156, 151, 151);
}